# registry=https://registry.npmjs.org/

# @dhuntleypro:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=${MATCH_GIT_TOKEN}


## works 
registry=https://registry.npmjs.org/

@dhuntleypro:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
